@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html,
body {
   @apply flex bg-slate-800 text-slate-100;
}

body {
   font-size: 100%;
}

label {
   @apply text-slate-300 text-sm;
}

input,
textarea {
   -webkit-touch-callout: default;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

input,
textarea {
   @apply outline-none bg-slate-900 text-slate-100 rounded-md;
}

input {
   @apply px-2 py-1;
}

textarea {
   @apply px-4 py-3;
}

input[type='password'] {
   @apply px-3 py-0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 32px;
   letter-spacing: 1px;
}

input[type='password']::placeholder {
   @apply text-base -translate-y-1.5;
}

button {
   @apply px-4 py-2 bg-slate-700 bg-gradient-to-b from-slate-600/50 text-slate-100 text-lg font-semibold rounded-md shadow;
}

button:hover {
   @apply bg-slate-700/75;
}

button:active {
   @apply bg-gradient-to-t indent-px;
}

button:disabled {
   @apply indent-0 bg-slate-700 bg-gradient-to-b opacity-50 text-slate-400;
}

button.primary {
   @apply bg-blue-700 from-blue-600/50 text-blue-100;
}

button.primary:hover {
   @apply bg-blue-700/75;
}

button.primary:disabled {
   @apply bg-blue-700 text-blue-400;
}

.form-error-input {
   @apply outline outline-red-500 outline-offset-0;
}

.form-error-message {
   @apply text-red-500;
}

.text-heading {
   @apply text-white/90 text-2xl leading-none;
}

.text-subheading {
   @apply text-white/60 text-base;
}

.app {
   @apply flex flex-col;
   width: 360px;
   height: 540px;
}

.view {
   @apply grow flex flex-col p-5 mb-14 overflow-auto;
}

.view.without-footer {
   @apply mb-0;
}

.logo-circle {
   @apply rounded-full bg-black/20 p-5;
   box-shadow: inset 0 10px 15px 0 rgb(0 0 0 / 0.25);
}

.tabs {
   @apply flex justify-between absolute bottom-0 w-full bg-slate-700 px-4;
   box-shadow: 0 -10px 10px 0px rgb(0 0 0 / 0.15);
}

.tabs-item {
   @apply px-4 py-3.5 text-slate-500 hover:cursor-pointer hover:text-slate-300;
}

.tabs-item.active {
   @apply border-y-2 border-slate-300 border-b-transparent text-slate-300;
}

.tabs-item svg {
   @apply fill-current transition-colors;
}
