@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html,
body {
   @apply flex bg-slate-800 text-slate-100;
}

body {
   font-size: 100%;
}

label {
   @apply text-slate-300 text-sm;
}

input,
textarea {
   -webkit-touch-callout: default;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

input,
textarea {
   @apply outline-none bg-slate-900 text-slate-100 rounded-md;
}

input {
   @apply px-2 py-1;
}

textarea {
   @apply px-4 py-3;
}

input[type='password'] {
   @apply px-3 py-0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 32px;
   letter-spacing: 1px;
}

input[type='password']::placeholder {
   @apply text-base -translate-y-1.5;
}

.btn {
   @apply px-4 py-2 bg-slate-700 bg-gradient-to-b from-slate-600/50 text-white/90 text-lg text-center font-semibold rounded-md shadow cursor-pointer;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn.small {
   @apply px-3 py-1 text-sm;
}

.btn.oval {
   @apply rounded-full;
}

.btn:hover {
   @apply bg-slate-700/75;
}

.btn:active {
   @apply bg-gradient-to-t;
}

.btn:disabled,
.btn.disabled {
   @apply bg-slate-700 bg-gradient-to-b opacity-50 text-white/50 cursor-auto;
}

.btn.primary {
   @apply bg-blue-700 from-blue-600/50;
}

.btn.primary:hover {
   @apply bg-blue-700/75;
}

.btn.primary:disabled,
.btn.primary.disabled {
   @apply bg-blue-700;
}

.btn.danger {
   @apply bg-red-700 from-red-600/50;
}

.btn.danger:hover {
   @apply bg-red-700/75;
}

.btn.danger:disabled,
.btn.danger.disabled {
   @apply bg-red-700;
}

.form-error-input {
   @apply outline outline-red-500 outline-offset-0;
}

.form-error-message {
   @apply text-red-500;
}

.text-heading {
   @apply text-white/90 text-2xl leading-none;
}

.text-subheading {
   @apply text-white/60 text-base;
}

.app {
   @apply relative flex flex-col;
   width: 360px;
   height: 540px;
}

.view {
   @apply absolute w-full top-12 bottom-14 flex flex-col p-5 overflow-auto;
}

.view.without-footer {
   @apply top-0 bottom-0;
}

.logo-circle {
   @apply rounded-full bg-black/20 p-5;
   box-shadow: inset 0 10px 15px 0 rgb(0 0 0 / 0.25);
}

ul.tabs {
   @apply flex justify-between absolute bottom-0 w-full bg-slate-700 px-4;
   box-shadow: 0 -10px 10px 0px rgb(0 0 0 / 0.15);
}

ul.tabs li {
   @apply block px-4 py-3.5 border-y-2 border-transparent text-slate-500 hover:cursor-pointer hover:text-slate-300;
}

ul.tabs li.active {
   @apply border-t-slate-300 text-slate-300;
}

ul.tabs li svg {
   @apply fill-current transition-colors;
}

.pills {
   @apply grid gap-3;
}

.pills a {
   @apply flex items-center bg-slate-700 rounded-md p-4;
}

.pills dl {
   @apply grow;
}

.pills dt {
   @apply font-semibold;
}

.pills dd {
   @apply text-sm text-slate-400;
}

.pills a:after {
   @apply block bg-slate-400;
   content: '';
   width: 9px;
   height: 15px;
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 15'%3E%3Cpath d='M8.71,6.79h0L2.34.43A1,1,0,0,0,.93,1.84L6.59,7.5.93,13.16a1,1,0,0,0,1.41,1.41L8.7,8.21h0a1,1,0,0,0,0-1.42Z'/%3E%3C/svg%3E");
}

.alert {
   @apply px-4 py-3 rounded-md border;
}

.alert.warning {
   @apply bg-yellow-500/30 border-yellow-500/60;
}

.alert.danger {
   @apply bg-red-500/30 border-red-500/60;
}

.Vue-Toastification__toast {
   font-family: inherit;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
   transition: all 0.2s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
   transform: translateX(-2%);
   opacity: 0;
}
