@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html,
body {
   @apply flex bg-slate-800 text-slate-100;
}

body {
   font-size: 100%;
}

label {
   @apply text-slate-300 text-sm;
}

input,
textarea {
   -webkit-touch-callout: default;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

input,
textarea {
   @apply outline-none bg-slate-900 text-slate-100 rounded-md;
}

input {
   @apply px-2 py-1.5;
}

textarea {
   @apply px-3 py-2;
}

input[type='text'],
textarea {
   @apply text-lg;
}

input[type='password'] {
   @apply px-3 py-0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 32px;
   letter-spacing: 1px;
}

input[type='password']::placeholder {
   @apply text-base -translate-y-1.5;
}

.input-group {
   @apply flex items-center bg-slate-900 rounded-md;
}

.input-group input {
   @apply grow;
}

.input-group button {
   @apply m-1.5;
}

.btn {
   @apply px-4 py-2 bg-slate-700 hover:bg-slate-700/75 bg-gradient-to-b from-slate-600/50 text-white/90 text-lg text-center font-semibold rounded-md shadow cursor-pointer;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn.small {
   @apply px-3 py-1 text-sm;
}

.btn.oval {
   @apply rounded-full;
}

.btn:active {
   @apply bg-gradient-to-t;
}

.btn:disabled,
.btn.disabled {
   @apply bg-slate-700 bg-gradient-to-b opacity-50 text-white/50 cursor-auto;
}

.btn.primary {
   @apply bg-blue-700 hover:bg-blue-700/75 from-blue-600/50;
}

.btn.primary:disabled,
.btn.primary.disabled {
   @apply bg-blue-700;
}

.btn.danger {
   @apply bg-red-700 hover:bg-red-700/75 from-red-600/50;
}

.btn.danger:disabled,
.btn.danger.disabled {
   @apply bg-red-700;
}

.btn-back {
   @apply flex absolute p-2.5 -mt-2 -ml-2.5 cursor-pointer;
}

.btn-back:before {
   @apply block bg-white/40 w-5 h-5 transition-colors;
   content: '';
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M18,9H4.41L9.78,3.64A1,1,0,1,0,8.36,2.22L1.29,9.29a1.15,1.15,0,0,0-.21.33,1,1,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33l7.07,7.07a1,1,0,1,0,1.42-1.42L4.41,11H18a1,1,0,0,0,0-2Z'/%3E%3C/svg%3E");
}

.btn-back:hover:before {
   @apply bg-white/80;
}

.form-error-input {
   @apply outline outline-red-500 outline-offset-0;
}

.form-error-message {
   @apply text-red-500;
}

.text-heading {
   @apply text-white/90 text-2xl leading-none;
}

.text-subheading {
   @apply text-white/60 text-base;
}

.app {
   @apply relative flex flex-col;
   width: 360px;
   height: 540px;
}

.view {
   @apply absolute w-full top-12 bottom-14 flex flex-col p-5 overflow-auto;
}

.view.without-navigation {
   @apply top-0 bottom-0;
}

.logo-circle {
   @apply rounded-full bg-black/20 p-5;
   box-shadow: inset 0 10px 15px 0 rgb(0 0 0 / 0.25);
}

.logo-circle.small {
   @apply p-2.5;
   box-shadow: inset 0 5px 8px 0 rgb(0 0 0 / 0.25);
}

.tabs {
   @apply flex justify-between absolute bottom-0 w-full bg-slate-700 px-4;
   box-shadow: 0 -10px 10px 0px rgb(0 0 0 / 0.15);
}

.tabs > a {
   @apply block px-4 py-3.5 border-y-2 border-transparent text-white/40 hover:cursor-pointer hover:text-white/80;
}

.tabs > a.active {
   @apply border-t-white/80 text-white/80;
}

.tabs > a svg {
   @apply fill-current transition-colors;
}

.pills {
   @apply grid gap-3;
}

.pills > a,
.pills > div {
   @apply flex items-center bg-slate-700 rounded-md p-4 cursor-pointer hover:bg-slate-600/75;
}

.pills > a:after {
   @apply block bg-white/50;
   content: '';
   width: 9px;
   height: 15px;
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 15'%3E%3Cpath d='M8.71,6.79h0L2.34.43A1,1,0,0,0,.93,1.84L6.59,7.5.93,13.16a1,1,0,0,0,1.41,1.41L8.7,8.21h0a1,1,0,0,0,0-1.42Z'/%3E%3C/svg%3E");
}

.pills > div.selected:after {
   @apply block bg-white/50;
   content: '';
   width: 15px;
   height: 12px;
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 12'%3E%3Crect x='-0.95' y='6.41' width='9.2' height='3.45' rx='1.72' transform='translate(7.25 -0.02) rotate(47.97)'/%3E%3Crect x='1.95' y='4.28' width='14.95' height='3.45' rx='1.72' transform='translate(-1.34 8.99) rotate(-47.97)'/%3E%3C/svg%3E");
}

.pills dl {
   @apply grow;
}

.pills dt {
   @apply font-semibold;
}

.pills dd {
   @apply text-sm text-slate-400;
}

.alert {
   @apply px-4 py-3 rounded-md border;
}

.alert.success {
   @apply bg-green-500/30 border-green-500/60;
}

.alert.info {
   @apply bg-blue-500/30 border-blue-500/60;
}

.alert.warning {
   @apply bg-yellow-500/30 border-yellow-500/60;
}

.alert.danger {
   @apply bg-red-500/30 border-red-500/60;
}

.Vue-Toastification__toast {
   font-family: inherit;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
   transition: all 0.2s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
   transform: translateX(-2%);
   opacity: 0;
}
